@import '../../styles/colors.scss';

.nav-link {
  padding: 0 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-weight: 600;
  text-transform: uppercase;
  color: $color-text-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
