@import '../../styles/colors.scss';

.review-form {
  .form-title {
    margin: 0 0 1rem;
  }
  .form-actions {
    display: flex;
    gap: .5rem;
  }
  .form-input {
    width: 17rem;
    padding: .25rem;
  }
  .counter-input {
    text-align: center;
    width: 1.5rem;
  }
}
