$color-text-primary: #003049;
$color-text-secondary: #FFF;

$color-background-primary: #EAE2B7;
$color-background-secondary: #FCBF49;

$color-accent-primary: #F77F00;
$color-accent-secondary: #D62828;
