@import '../../styles/colors.scss';
@import '../../styles/fonts.scss';

.header {
  .header-title {
    color: #003049;
    font-size: 4rem;
    font-family: $font-header-primary;
    font-weight: 500;
    display: flex;
    padding: 3rem;
    justify-content: center;
  }

  .header-actions {
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}
