@import '../../styles/colors.scss';

.toggler {
  // position: absolute;
  // top: 2rem;
  // right: 2rem;
  position: relative;
  width: 56px;
  height: 28px;

  .checkbox {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked + .switch {
      background-color: $color-accent-primary;
    }

    &:checked + .switch:before {
      -webkit-transform: translateX(28px);
      -ms-transform: translateX(28px);
      transform: translateX(28px);
      background-color: $color-background-secondary;
    }

    &:focus + .switch {
      box-shadow: 0 0 1px $color-background-secondary;
    }
  }

  .switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-background-secondary;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 2px;
      bottom: 2px;
      background-color: $color-accent-primary;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}
